#**********************************************************************
#***                                                                ***
#*** Script:  ipl.rc                                                ***
#***                                                                ***
#*** Purpose: OS/VS2-MVS 3.8j IPL for unattended operations         ***
#***                                                                ***
#*** Updated: 2014/12/22                                            ***
#***                                                                ***
#**********************************************************************
#
# complete TK4- initialization after IPL 
#
hao tgt MVS038J
hao cmd script scripts/tk4-.rc
hao tgt IEA101A
hao cmd script ${SCR101A:=scripts}/SCR101A_${REP101A:=default}${CMD101A}
hao tgt IEA305A
hao cmd script ${SCR101A:=scripts}/SCR101A_${REP101A:=default}${CMD101A}
#
# don't hurry
#
* pausing for a few seconds, please stand by.
pause ${IPL_PAUSE:=4}
#
# IPL MVSRES and kick off OS/VS2-MVS 3.8j
#
ipl 148
* pausing for a few seconds, please stand by.
pause ${IPL_PAUSE:=4}
* IEA101A just to make sure HAO gets it
pause ${IPL_PAUSE:=4}
hao tgt HHC00010A
hao cmd script scripts/SCR00010A
pause ${IPL_PAUSE:=4}
/d t
