00020790/*                                                                 */
00020800/* HUMOR.                                                          */
00020810/*                                                                 */
00020820WRITE
00020830WRITE  1. GODLINESS, CLEANLINESS AND PUNCTUALITY ARE THE NECESSITIES
00020840WRITE     OF A GOOD BUSINESS.
00020850WRITE
00020860WRITE  2. THE FIRM HAS REDUCED THE WORKING DAY TO THE HOURS FROM
00020870WRITE     8:30 A.M. TO 7:00 P.M.
00020880WRITE
00020890WRITE  3. DAILY PRAYERS WILL BE HELD EACH MORNING IN THE BOARD ROOM.
00020900WRITE     THE PROGRAMMING STAFF WILL BE PRESENT.
00020910WRITE
00020920WRITE  4. CLOTHING WILL BE OF A SOBER NATURE. THE PROGRAMMING STAFF
00020930WRITE     WILL NOT DISPORT THEMSELVES IN RAIMENT OF BRIGHT COLOR.
00020940WRITE
00020950WRITE  5. A STOVE IS PROVIDED FOR THE BENEFIT OF THE PROGRAMMING STAFF.
00020960WRITE     IT IS RECOMMENDED THAT EACH MEMBER OF THE PROGRAMMING STAFF
00020970WRITE     BRING 4 LBS. OF COAL EACH DAY DURING COLD WEATHER.
00020980WRITE
00020990WRITE  6. NO MEMBER OF THE PROGRAMMING STAFF MAY LEAVE THE THIRD FLOOR
00021000WRITE     WITHOUT PERMISSION FROM THE MANAGEMENT. THE CALLS OF NATURE
00021010WRITE     ARE PERMITTED HOWEVER, AND THE PROGRAMMING STAFF MAY USE THE
00021020WRITE     OUTDOOR BALCONY AREA FOR THIS PURPOSE.
00021030WRITE     OBTAIN THE KEY FROM JIMMY THE JANITOR.
00021040WRITE
00021050WRITE  7. NO TALKING IS ALLOWED DURING BUSINESS HOURS.
00021060WRITE
00021070WRITE  8. THE CRAVING OF TOBACCO, HEMP, WINES OR SPIRITS IS A HUMAN WEAKNESS,
00021080WRITE     AND AS SUCH IS FORBIDDEN TO THE PROGRAMMING STAFF.
00021090WRITE
00021100WRITE  9. MEMBERS OF THE PROGRAMMING STAFF WILL PROVIDE THEIR OWN
00021110WRITE     TERMINALS.
00021120WRITE
00021130WRITE 10. THE MANAGERS OF THE FIRM WILL EXPECT A GREAT RISE IN THE OUTPUT
00021140WRITE     OF WORK TO COMPENSATE FOR THESE NEAR UTOPIAN CONDITIONS.
00021150WRITE
