00000100/*                                                                 */
00000200/* HUMOR.                                                          */
00000300/*                                                                 */
00000400WRITE
00000500WRITE  1. GODLINESS, CLEANLINESS AND PUNCTUALITY ARE THE NECESSITIES
00000600WRITE     OF A GOOD BUSINESS.
00000700WRITE
00000800WRITE  2. THE FIRM HAS REDUCED THE WORKING DAY TO THE HOURS FROM
00000900WRITE     8:30 A.M. TO 7:00 P.M.
00001000WRITE
00001100WRITE  3. DAILY PRAYERS WILL BE HELD EACH MORNING IN THE BOARD ROOM.
00001200WRITE     THE PROGRAMMING STAFF WILL BE PRESENT.
00001300WRITE
00001400WRITE  4. CLOTHING WILL BE OF A SOBER NATURE. THE PROGRAMMING STAFF
00001500WRITE     WILL NOT DISPORT THEMSELVES IN RAIMENT OF BRIGHT COLOR.
00001600WRITE
00001700WRITE  5. A STOVE IS PROVIDED FOR THE BENEFIT OF THE PROGRAMMING STAFF.
00001800WRITE     IT IS RECOMMENDED THAT EACH MEMBER OF THE PROGRAMMING STAFF
00001900WRITE     BRING 4 LBS. OF COAL EACH DAY DURING COLD WEATHER.
00002000WRITE
00002100WRITE  6. NO MEMBER OF THE PROGRAMMING STAFF MAY LEAVE THE THIRD FLOOR
00002200WRITE     WITHOUT PERMISSION FROM THE MANAGEMENT. THE CALLS OF NATURE
00002300WRITE     ARE PERMITTED HOWEVER, AND THE PROGRAMMING STAFF MAY USE THE
00002400WRITE     OUTDOOR BALCONY AREA FOR THIS PURPOSE.
00002500WRITE     OBTAIN THE KEY FROM JIMMY THE JANITOR.
00002600WRITE
00002700WRITE  7. NO TALKING IS ALLOWED DURING BUSINESS HOURS.
00002800WRITE
00002900WRITE  8. THE CRAVING OF TOBACCO, HEMP, WINES OR SPIRITS IS A HUMAN WEAKNESS,
00003000WRITE     AND AS SUCH IS FORBIDDEN TO THE PROGRAMMING STAFF.
00003100WRITE
00003200WRITE  9. MEMBERS OF THE PROGRAMMING STAFF WILL PROVIDE THEIR OWN
00003300WRITE     TERMINALS.
00003400WRITE
00003500WRITE 10. THE MANAGERS OF THE FIRM WILL EXPECT A GREAT RISE IN THE OUTPUT
00003600WRITE     OF WORK TO COMPENSATE FOR THESE NEAR UTOPIAN CONDITIONS.
00003700WRITE
